
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}


body {
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
}


.contacts-style {
  color: white;
  text-decoration: none;
}

span {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.footer {
  background-color: rgb(0, 0, 0);
}

main {
  margin-top: 10px;
  padding-bottom: 5px;
  min-height: calc(100vh - 50px);
}

main h1 {
  color: white;
  margin-bottom: 10px;
  border-bottom: 1px white solid;
}

.contacts-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.contacts-li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  column-gap: 10px;
}

.contacts-li svg {
  width: 30px;
  height: 100%;
  fill: white;
  stroke: white;
}

.nav__links-li {
  display: inline;
}

.project__example-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.img__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.img__item-container p {
  transition: 0.3s ease-in;
}

.img__item-container:hover p {
  transform: scale(1.3);
}

.img__item {
  width: 450px;
  height: 300px;
  z-index: 1;
  overflow: hidden;
  border: 10px solid white;
  border-radius: 50px;
}

.img__item img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.2);
  transition: 0.5s ease;
}

.project_example-container h2 {
  color: white;
  border-bottom: 1px white solid;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1320px) {
  .project__example-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* MODAL */

.fixed__overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 63, 61, 0.80);
  z-index: 10;
  animation: modalOpen 0.5s;
}

.hidden {
  display: none;
}

.modal__wrapper {
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  align-items: center;
  margin: 0 auto;
  overflow: auto; /* Enable scroll if needed */
  width: 806px;
  animation: modalOpen 0.2s;
}

.modal__container {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding: 10px 10px 5px 10px;
  background-color: black;
  border-radius: 10px;

}

.modal__img img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}

.modal__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.modal__title {
  display: flex;
  flex-direction: column;
}

.modal__title h3 {
  margin-bottom: 20px;
  color: white;
}

.modal__link a {
  text-decoration: underline;
  color: white;
  cursor: pointer;

}

.modal__close {
  display: flex;
  border: 1px white solid;
  border-radius: 100px;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (hover: hover) {
  .img__item:hover img {
    transform: scale(1.0);
  }
}

@media screen and (max-width: 940px) {
  .modal__wrapper {
    justify-content: center;
  }

  .modal__container {
    flex-direction: column;
  }
}